[user]
	name = Eric Bixby
	email = ebixby@yahoo.com
[pager]
	branch = false
[pull]
	rebase = false
[credential "https://dev.azure.com"]
	useHttpPath = true
[http]
	postBuffer = 157286400
# for mac (doesn't work on linux):
#[credential]
#	helper = 
#	helper = /usr/local/share/gcm-core/git-credential-manager
# for linux (stores in ~/.git-credentials:
[credential]
	helper = store
