[user]
	name = Eric Bixby
	email = eric-bixby@users.noreply.github.com
[pager]
	branch = false
[pull]
	rebase = false
[http]
	postBuffer = 157286400
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
